html {
  background-color: grey;
  height: 100%;
}

body {
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'raleway', sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

article {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 33.33%;
  justify-content: center;
  width: 33.333%;
}

a {
  border: 2px solid #FFF;
  margin: 0px 20px;
  padding: 10px;
}

img {
  margin: 10px 0px;
  width: 100px;
}

img:hover {
  cursor: pointer;
}

.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.main-image {
  align-items: center;
  background-image: url(RMNP-self.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 0px 15px;
  width: 40%;
}

.info {
  background-color: #4471A3;
  display: inline-block;
  width: 66.66%;
}

.info h1 {
  padding: 0px 15px;
}

.info p{
  font-size: 0.8em;
  line-height: 2em;
  margin-bottom: 30px;
  padding: 0px 15px;
}

.profile-box {
  background-color: #333438;
}

.experience-box {
  background-color: #35C9C2;
}

.education-box {
  background-color: #6A6B6D;
}

.blog-box{
  background-color: #4471A3;
}

.social-box {
  background-color: #EC4B06;
}

.contact-box {
  background-color: #35C9C2;
}

.portfolio-box {
  background-color: #EC4B06;
}

.arrows {
  width: 25px;
}

.dots {
  align-self: flex-end;
  width: 30px;
}

#resume {
  margin: 0 15px;
  width: 20px;
}

#info {
  margin: 0 5px;
  width: 20px;
}

#profile-pic {
  height: 100%;
  margin: 0 0;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 915px){
  .box-container {
    overflow: scroll;
    width: 50%;
  }

  article {
    width: 50%;
  }

  .info {
    width: 100%;
  }

  .main-image {
    background-color: grey;
    width: 50%;
  }

  .portfolio-box {
    width: 100%;
  }
}

@media screen and (max-width: 750px){
  body {
    background-color: #35C9C2;
    flex-direction: column;
  }

  .box-container {
    overflow: scroll;
    width: 100%;
  }

  .main-image {
    height: 150%;
    justify-content: space-around;
    position: relative;
    padding: 0px 20px;
    width: 100%;
  }

  article {
    width: 50%%;
  }

  .info {
    height: 225px;
  }
}

@media screen and (max-width: 400px) {
  .main-image {
    height: 200%;
    }

    a {
      margin-bottom: 15px;
      width: 150px;
    }

    .info {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      height: 325px;
    }

    article {
    width: 100%;
  }
}
