html {
  background-color: grey;
  height: 100%;
}

body {
  font-family: 'raleway', sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
}

.box-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-image {
  width: 40%;
  background-image: url(RMNP-self.jpg);
  background-repeat: space;
}

article {
  height: 33.33%;
  width: 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  border: 1px solid #FFF;
  padding: 10px;
  margin: 0px 20px;
}

img {
  width: 100px;
  margin: 10px 0px;
}

img:hover {
  cursor: pointer;
}

#resume {
  width: 20px;
  margin: 0 15px;

}

#info {
  width: 20px;
  margin: 0 5px;
}

#profile-pic {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 0;
}

.info {
  background-color: #35BC7A;
  display: inline-block;
  width: 66.66%;
}

.info h1 {
  padding: 0px 15px;
}

.info p{
  font-size: 0.8em;
  margin-bottom: 30px;
  padding: 0px 15px;
  line-height: 2em;
}

.profile-box {
  background-color: #FF9E00;
}

.experience-box {
  background-color: #1E8BC4;

}

.education-box {
  background-color: #F15A49;

}

.blog-box{
  background-color: #35BC7A;
}

.social-box {
  background-color: #F86925;

}

.contact-box {
  background-color: #1E8BC4;

}

.portfolio-box {
  background-color: #F86925;

}

@media screen and (max-width: 900px){
  .box-container {
    width: 50%;
    overflow: scroll;
  }

  article {
    width: 50%;
  }

  .info {
    width: 100%;
  }

  .main-image {
    background-color: grey;
    width: 50%;
  }

  .portfolio-box {
    width: 100%;
  }
}

@media screen and (max-width: 750px){
  body {
    background-color: #1E8BC4;
    flex-direction: column;
  }

  .box-container {
    width: 100%;
    overflow: scroll;
  }

  .main-image {
    width: 100%;
    height: 150%;
    position: relative;
  }

  article {
    width: 50%%;
  }

  .info {
    height: 225px;
  }
}

@media screen and (max-width: 400px) {
  .main-image {
    height: 200%;
    }

    a {
      margin-bottom: 15px;
      width: 150px;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 325px;
    }

    article {
    width: 100%;
  }
}
